.title-charts {
  margin-top: 100px;
  padding-bottom: 20px;
}

.chart {
  background-color: rgb(240, 240, 240);
  padding-bottom: 15px;
  margin: 0px 0px 18px 0px;
  padding: 15px 5px 15px 5px;
  border-radius: 1px;
}

.chart-title {
  background-color: white;
  border-radius: 15px;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 12px;
  border: 1px solid #213640;
}
