

.sign_up_content{

  margin-top: 20px;

}


.sign_up_wrapper{
  background-color: #213640;
  height: 100vh;
  width: 100%;
  color: white;
  font-size: 13px;
}


// .shared-login{

//   width: 100% !important;
//   margin: 10px 0px;
//   background-color: yellow;
//   margin-top: 20px;

// }
