<h1>Show for A booking</h1>

<p>booking id: <%= @booking.id %></p>
<p>start datetime: <%= @booking.start_datetime %></p>
<p>end datetime: <%= @booking.end_datetime %></p>

<a href="http://m.me/110101406273492"> Chatbot</a>
