<div class="navbar-wagon-right navbar-fixed-bottom ">

    <i class="fa fa-home lg"> </i>

    <i class="fa fa-th-list lg"> </i>

    <i class="fa fa-map-marker lg"> </i>

    <i class="fa fa-user lg"> </i>

</div>
