<div id="tab-bar" class="navbar-wagon navbar-wagon-right navbar-fixed-bottom" style="border: none;">


  <div class="flex-item pressed">
      <%= link_to home do %>
      <i class="tab-bar-item fa fa-home lg"> </i>
      <% end %>
    </div>

    <div class="flex-item">
      <%= link_to services do %>
      <i class="tab-bar-item fa fa-th-list lg"> </i>
      <% end %>
    </div>
    <div  class="flex-item"><%= link_to locations do %>
      <i class="tab-bar-item fa fa-map-marker lg"> </i>
      <% end %></div>

      <div class="flex-item">
        <%= link_to stay_path(@stay) do %>
        <i class="tab-bar-item fa fa-user lg"> </i>
        <% end %>
      </div>

  </div>
