<div id="tab-bar" class="navbar-wagon navbar-wagon-right navbar-fixed-bottom">


  <div class="flex-item">
      <%= link_to home do %>
      <i class="tab-bar-item fa fa-home lg"> </i>
      <% end %>
    </div>

    <div   class="flex-item">
      <%= link_to services do %>
      <i class="tab-bar-item fa fa-th-list lg"> </i>
      <% end %>
    </div>
    <div  class="flex-item"><%= link_to locations do %>
      <i class="tab-bar-item fa fa-map-marker lg"> </i>
      <% end %></div>

      <div class="flex-item">
        <%#= link_to profile/booking_page do %>
        <i class="tab-bar-item fa fa-user lg"> </i>
        <%# end %>
      </div>

  </div>
