<div class="mapmarkerinfo">
  <div>
  <div id="box-wrap">
    <div id ="mapbox-img" class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.trvl-media.com/media/content/expus/graphics/launch/hotel1320x742.jpg');">
    </div>
    </div>
    <div class="box-content">
      <p class="karla-bold" style="font-size: 13px;"><%= @hotel.name %>&nbsp; &nbsp; &nbsp;</p>
      <p class="karla-light" style="font-size: 12px;"><%= @hotel.address %></p>
    </div>
  </div>
</div>
