 <div class="blog">
        <div class="blog-single">
        <div class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="https://termsfeed.com/blog/sample-terms-and-conditions-template/" />
            <div class="row">
                <div class="col-md-12">

                    <div class="post-breadcrumbs breadcrumbs">
                        <ul vocab="http://schema.org/" typeof="BreadcrumbList" class="list-unstyled">
                            <li class="item" property="itemListElement" typeof="ListItem">
                                <a property="item" typeof="WebPage" href="https://termsfeed.com" class="link"><span property="name">Home</span><meta property="position" content="1"></a>
                            </li>
                            <li class="separator">
                                <span class="separator-item">›</span>
                            </li>
                                                        <li class="item" property="itemListElement" typeof="ListItem">
                                <a property="item" typeof="WebPage" href="https://termsfeed.com/terms-conditions/" class="link"><span property="name">Terms and Conditions</span><meta property="position" content="2"></a>
                            </li>
                                                        <li class="separator">
                                <span class="separator-item">›</span>
                            </li>
                            <li class="item" property="itemListElement" typeof="ListItem">
                                <span property="item" typeof="WebPage" class="title">
                                    <span property="name">Sample Terms and Conditions Template</span>
                                    <meta property="position" content="3">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="post-title">
                        <h1 itemprop="name headline">Sample Terms and Conditions Template</h1>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-9">


                    <div class="post-content" itemprop="articleBody">

                                                    <div class="post-thumbnail-wrapper">
                                <div class="post-thumbnail" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                                    <img width="1200" height="650" src="https://termsfeed.com/blog/wp-content/uploads/2016/09/sample-terms-and-conditions-template-05.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Sample Terms and Conditions Template" />                                    <meta itemprop="url" content="https://termsfeed.com/blog/wp-content/uploads/2016/09/sample-terms-and-conditions-template-05.jpg" />
                                    <meta itemprop="width" content="1200" />
                                    <meta itemprop="height" content="650" />
                                </div>
                            </div>

                        <div class="post-content">
                            <p><a href="#Download_Terms_and_Conditions_Template">Our Terms and Conditions template</a> will get you started with a Terms and Conditions agreement.</p>
<p>This template is free to download and use for your website or mobile app.</p>
<p>A <strong>Terms and Conditions agreement</strong> is the agreement that includes the terms, the rules and the guidelines of acceptable behavior, plus other useful sections, to which users must agree in order to use or access your website and mobile app.</p>
<div id="toc_container" class="no_bullets"><p class="toc_title">Contents</p><ul class="toc_list"><li><a href="#What_are_Terms_and_Conditions"><span class="toc_number toc_depth_1">1</span> What are Terms and Conditions</a><ul><li><a href="#What_to_include_in_a_Terms_and_Conditions"><span class="toc_number toc_depth_2">1.1</span> What to include in a Terms and Conditions</a></li><li><a href="#Is_a_Terms_and_Conditions_required"><span class="toc_number toc_depth_2">1.2</span> Is a Terms and Conditions required?</a></li><li><a href="#How_to_enforce_Terms_and_Conditions"><span class="toc_number toc_depth_2">1.3</span> How to enforce Terms and Conditions</a></li></ul></li><li><a href="#Examples_of_Terms_and_Conditions"><span class="toc_number toc_depth_1">2</span> Examples of Terms and Conditions</a></li><li><a href="#Download_Terms_and_Conditions_Template"><span class="toc_number toc_depth_1">3</span> Download Terms and Conditions Template</a></li></ul></div>

<h2><span id="What_are_Terms_and_Conditions">What are Terms and Conditions</span></h2>
<p>Terms and Conditions are a set of rules and guidelines that a user must agree to in order to use your website or mobile app. It acts as a legal contract between you (the company) who has the website or mobile app and the user who access your website and mobile app.</p>
<p>It&#8217;s up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you <strong>maintain your rights</strong> to exclude users from your app in the event that they abuse your app, and where you maintain your legal rights against potential app abusers, and so on.</p>
<p>Terms and Conditions are also known as Terms of Service or Terms of Use.</p>
<p>This type of legal agreement can be used for both your website <em>and</em> your mobile app. It&#8217;s not required (it&#8217;s not recommended actually) to have separate Terms and Conditions agreements: one for your website and one for your mobile app.</p>
<p><span class="embed-youtube" style="text-align:center; display: block;"><iframe class='youtube-player' type='text/html' width='990' height='587' src='https://www.youtube.com/embed/1z9UTQ-c5z4?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' allowfullscreen='true' style='border:0;'></iframe></span></p>
<p>You can use this agreement anywhere, regardless what platform your business operates on:</p>
<ul>
<li>Websites</li>
<li>WordPress blogs or blogs on any kind of platform: Joomla!, Drupal etc.</li>
<li>E-commerce shops</li>
<li>Mobile apps: iOS, Android or Windows phone</li>
<li><a href="https://termsfeed.com/blog/facebook-terms-of-service-login-details-app-details/">Facebook apps</a></li>
<li>Desktop apps</li>
<li><a href="https://termsfeed.com/blog/terms-use-privacy-policy-saas-applications/">SaaS apps</a></li>
</ul>
<p>Desktop apps usually have the EULA agreement (End-User License Agreement) instead of a Terms and Conditions agreement, but your business can use <em>both</em>. Mobile apps are increasingly using Terms and Conditions along with the EULA if the mobile app has an online service component, i.e. it connects with a server.</p>
<h3><span id="What_to_include_in_a_Terms_and_Conditions">What to include in a Terms and Conditions</span></h3>
<p>In your Terms and Conditions, you can include rules and guidelines on how users can access and use your website and mobile app.</p>
<p class="bg-warning">Use the <a href="https://termsfeed.com/terms-conditions/generator/">Terms and Conditions Generator</a> to create the Terms &#038; Conditions agreement.</p>
<p class="bg-info"><a href="#Download_Terms_and_Conditions_Template">Download the Terms and Conditions template by clicking here</a>. It&#8217;s free.</p>
<p>Here are few examples:</p>
<ol>
<li>The <strong>Intellectual Property</strong> disclosure will inform users that the contents, logo and other visual media you created is your property and is protected by copyright laws.</li>
<li>A <strong>Termination</strong> clause will inform that users&#8217; accounts on your website and mobile app or users&#8217; access to your website and mobile (if users can&#8217;t have an account with you) can be terminated in case of abuses or at your sole discretion.</li>
<li>A <strong>Governing Law</strong> will inform users which laws govern the agreement. This should the country in which your company is headquartered or the country from which you operate your website and mobile app.</li>
<li>A <strong>Links To Other Web Sites</strong> clause will inform users that you are not responsible for any third party websites that you link to. This kind of clause will generally inform users that they are responsible for reading and agreeing (or disagreeing) with the Terms and Conditions or Privacy Policies of these third parties.</li>
<li>If your website or mobile app allows users to create content and make that content public to other users, a <strong>Content</strong> section will inform users that they own the rights to the content they have created.
<p>The &#8220;Content&#8221; clause usually mentions that users must give you (the website or mobile app developer) a license so that you can share this content on your website/mobile app and to make it available to other users.</p>
<p>Because the content created by users is public to other users, a <a href="https://termsfeed.com/blog/dmca-terms-and-conditions/">DMCA notice clause</a> (or Copyright Infringement ) section is helpful to inform users and copyright authors that, if any content is found to be a copyright infringement, you will respond to any DMCA takedown notices received and you will take down the content.</li>
<li>A <strong>Limit What Users Can Do</strong> clause can inform users that <strong>by agreeing to use your service, they&#8217;re also agreeing to not do certain things</strong>. This can be part of a very long and thorough list in your Terms and Conditions agreements so as to encompass the most amount of negative uses.
<p>Here&#8217;s how <a href="https://500px.com/terms">500px</a> lists its prohibited activities:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/07/500px-terms-use-abusive-accounts.jpeg" alt="500px Terms of Use: Abusive Accounts" width="560" height="463" class="alignnone size-full wp-image-988" srcset="https://termsfeed.com/blog/wp-content/uploads/2015/07/500px-terms-use-abusive-accounts.jpeg 560w, https://termsfeed.com/blog/wp-content/uploads/2015/07/500px-terms-use-abusive-accounts-500x413.jpeg 500w" sizes="(max-width: 560px) 100vw, 560px" />
</li>
</ol>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/bbc-logo.jpg" alt="Logo of BBC" width="96" height="35" class="alignnone size-full wp-image-3544" /></p>
<p>Here&#8217;s how the Terms of <a href="http://www.bbc.co.uk/terms/personal.shtml#4">BBC</a> informs that trademarks, design rights and other intellectual properties belongs to BBC:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/bbc-terms-use-who-owns-has-rights-clause.jpg" alt="BBC Terms of Use: Who owns or has rights" width="601" height="175" class="alignnone size-full wp-image-3215" /></p>
<p>BBC clearly mentions that all content belongs to BBC:</p>
<blockquote>
<p>4.1 Rights in BBC Online Services and BBC Content</p>
<p>All copyright, trade marks, design rights, patents and other intellectual property rights (registered and unregistered) in and on BBC Online Services and BBC Content belong to the BBC and/or third parties (which may include you or other users.) The BBC reserves all of its rights in BBC Content and BBC Online Services. Nothing in the Terms grants you a right or license to use any trade mark, design right or copyright owned or controlled by the BBC or any other third party except as expressly provided in the Terms.</p>
<footer><a href="http://www.bbc.co.uk/terms/personal.shtml#4">BBC</a></footer>
</blockquote>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/04/surveymonkey-logo.jpg" alt="SurveyMonkey Logo" width="100" height="15" class="alignnone size-full wp-image-782" /></p>
<p>If you operate a SaaS app, the &#8220;Termination clauses&#8221; will be very important. The relationship with your customers can end for any number of reasons, from a customer changing careers to a new and better SaaS option becoming available or just general dissatisfaction with a service.</p>
<p>But as the owner of the app, you should have a way to actively end a relationship with a customer under certain circumstances.</p>
<p><a href="https://www.surveymonkey.com/mp/policy/terms-of-use/">SurveyMonkey</a> has included sections in their Terms of Use that outline what happens in the event of termination of service by either party. Note how the issue of a refund is addressed, as well as what happens with content that belongs to a user upon termination of the user&#8217;s account:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/07/surveymonkey-terms-use-suspension-termination.jpeg" alt="SurveyMonkey Terms of Use: Suspension and Termination" width="750" height="214" class="alignnone size-full wp-image-1000" srcset="https://termsfeed.com/blog/wp-content/uploads/2015/07/surveymonkey-terms-use-suspension-termination.jpeg 750w, https://termsfeed.com/blog/wp-content/uploads/2015/07/surveymonkey-terms-use-suspension-termination-500x143.jpeg 500w" sizes="(max-width: 750px) 100vw, 750px" /></p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2016/02/apple-logo-icon-v2.jpeg" alt="Apple Logo Icon" width="100" height="124" class="alignnone size-full wp-image-1689" /></p>
<p>If you sell products (physical or digital), <a href="https://termsfeed.com/blog/terms-conditions-ecommerce-stores/">you&#8217;ll want Terms and Conditions for your store</strong></a>. Having the agreement in place will help you:</p>
<ul>
<li>Dictate how different aspects of transactions will be handled</li>
<li>Inform users about <a href="https://termsfeed.com/blog/payment-terms-terms-conditions/">acceptable payment terms</a></li>
<li>Inform users about your shipping policies</li>
<p><lI>Inform users about your returns and refunds policies. You can also do this through a separate agreement, called a Return/Refund Policy, that you can reference in the Terms &amp; Conditions agreement.</li>
</ul>
<p>Let&#8217;s look at an example: the <strong>Limitation of Liability of Your Products</strong> clause.</p>
<p>No matter what kind of goods you sell, best practices direct you to present any warranties you are disclaiming and liabilities you are limiting <strong>in a way</strong> that your customers will notice.</p>
<p>You&#8217;ve probably noticed that these clauses in contracts are always in blocks of all-caps text and really do stand out from the rest of the document.</p>
<p><a href="http://www.apple.com/legal/internet-services/itunes/us/terms.html#SERVICE">Apple iTunes</a>, which probably isn&#8217;t dealing with high-liability goods, includes the following boilerplate language in its Terms agreement to deal with limiting liability and disclaiming warranties.</p>
<p>This exact language is used across multiple industries, businesses, and apps in order to legally disclaim warranties and limit liability. </p>
<p>Include the words &#8220;<strong>AS IS</strong>&#8221; for items and &#8220;<strong>AS AVAILABLE</strong>&#8221; if you provide any sort of service that may not be available 100% of the time. The final section is usually included verbatim as:</p>
<blockquote><p>
<em>&#8220;&#8230;WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT. BECAUSE SOME JURISDICTIONS DO NOT ALLOW FOR THE EXCLUSION OF IMPLIED WARRANTIES, THE ABOVE EXCLUSION OF IMPLIED WARRANTIES MAY NOT APPLY TO YOU.&#8221;</em>
</p></blockquote>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/06/apple-itunes-disclaimer-warranties.jpeg" alt="Apple iTunes Store Terms on Disclaimer" width="730" height="292" class="alignnone size-full wp-image-946" srcset="https://termsfeed.com/blog/wp-content/uploads/2015/06/apple-itunes-disclaimer-warranties.jpeg 730w, https://termsfeed.com/blog/wp-content/uploads/2015/06/apple-itunes-disclaimer-warranties-500x200.jpeg 500w" sizes="(max-width: 730px) 100vw, 730px" /></p>
<p>Here&#8217;s a list of questions that can help you determine what to add in your own Terms and Conditions:</p>
<ul>
<li>Can users create an account on your website or app?</li>
<li>Can users create or publish content on your website or app?</li>
<li>Is the content published by users available publicly?</li>
<li>Can users send you copyright infringement notices?</li>
<li>If your website or app an ecommerce store?</li>
<li>And so on</li>
</ul>
<p>Before you publish the agreement online, make sure your Terms and Conditions includes important disclosures, such as:</p>
<ul>
<li>Termination of using or accessing your website or sections of your website to prevent abuses</li>
<li>&#8220;Governing Law&#8221; disclosure to inform which country laws are governing the agreement</li>
<li>Contact details to inform users how they contact you with questions regarding your legal agreements and its provisions</li>
</ul>
<h3><span id="Is_a_Terms_and_Conditions_required">Is a Terms and Conditions required?</span></h3>
<p>A Terms and Conditions <strong>is not required</strong> and <strong>it&#8217;s not mandatory by law</strong>. Unlike Privacy Policies, there&#8217;s no law or regulation on Terms and Conditions.</p>
<p>But having a Terms and Conditions gives you the right to terminate the access of abusive users or to terminate the access to users who do not follow your rules and guidelines.</p>
<p>It&#8217;s extremely important to have this agreement if you operate a SaaS app.</p>
<p>Here are a few examples how this agreement can help you:</p>
<ul>
<li>If users abuse your website or mobile app in any way, you can terminate their account. Your &#8220;Termination&#8221; clause can inform users that their accounts would be terminated if they abuse your service.</li>
<li>If users can post content on website or mobile app (create content and share it on your platform), you can remove any content they created if it infringes copyright.
<p>Your Terms and Conditions will inform users that they can only create and/or share content they own rights to.</p>
<p>Similarly, if users can register for an account and choose an username, you can inform users that they are not allowed to choose usernames that may infringe trademarks, i.e. usernames like <em>Google</em>, <em>Facebook</em>, and so on.
</li>
<li>If you sell products or services, you could cancel specific orders if a product price is incorrect. Your Terms and Conditions can include a clause to inform users that certain orders, at your sole discretion, can be canceled if the products ordered have incorrect prices due to various errors.</li>
<li>And many more examples.</li>
</ul>
<p>While a Terms and Conditions isn&#8217;t required by law, other platforms (especially those that you can create an app for) will often ask you for this agreement.</p>
<p>For example, Facebook <a href="https://termsfeed.com/blog/legal-pages-facebook-app/">asks for a Terms and Conditions for your app</a>. This is required for the &#8220;Terms of Service URL&#8221; field when you submit your Facebook app for review:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/02/terms-service-url-field-facebook-app.jpg" alt="Terms of Service URL field in Facebook app" width="610" height="111" class="alignnone size-full wp-image-3226" /></p>
<p>Google Play Store or Apple App Store may also require you to have this agreement. Currently, both app stores only require you to <a href="https://termsfeed.com/blog/privacy-policy-mobile-apps/">have a Privacy Policy</a>.</p>
<h3><span id="How_to_enforce_Terms_and_Conditions">How to enforce Terms and Conditions</span></h3>
<p>While creating and having a Terms and Conditions is important, it&#8217;s far more important to understand how you can make the <strong>Terms and Conditions enforceable</strong>.</p>
<p>You can enforce this legal agreement in various ways, but it always depends on your website or mobile app and what functionalities you offer to users:</p>
<ul>
<li>Are you a simple, presentation-only website? In most simple websites or apps users can&#8217;t register or create content.</li>
<li>Are you a user-generated content website or app? In these websites and apps, users can register an account and create or share content.</li>
<li>And so on.</li>
</ul>
<p><strong>eBay</strong> uses two different notices to enforce their User Agreement <a href="http://pages.ebay.com/help/policies/user-agreement.html?rt=nc">page</a>.</p>
<p>The footer of eBay has this text:</p>
<blockquote><p>Use of this Web site constitutes acceptance of the eBay User Agreement and Privacy Policy</p></blockquote>
<p>It links directly to eBay&#8217;s User Agreement and Privacy Policy page:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/02/ebay-footer-user-agreement-privacy-policy.jpg" alt="eBay footer: Links to User Agreement and Privacy Policy" width="601" height="34" class="alignnone size-full wp-image-3175" /></p>
<p>Because of the position and how it&#8217;s linked these are called <a href="https://termsfeed.com/blog/browsewrap-clickwrap/">browsewrap agreements</a>.</p>
<p>However eBay gives more notice of their legal agreements to who register for a new account:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/02/ebay-sign-up-user-agreement-privacy-policy.jpg" alt="eBay Sign-up: Highlight User Agreement &amp; Privacy Policy" width="601" height="177" class="alignnone size-full wp-image-3177" /></p>
<p>New users, in order to register for an account with eBay, must agree that:</p>
<ul>
<li>They have read and accepted the User Agreement and Privacy Policy of eBay</li>
<li>They agree that they may receive communications from eBay and can change the preferences in My eBay section of the web site</li>
<li>They are at least 18 years old</li>
</ul>
<p>This is called <strong>a clickwrap agreement</strong>, where there is a proper notice to users about some legal agreements before a user can do a certain action, i.e. register an account.</p>
<p><a href="https://www.facebook.com">Facebook</a> is another example:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/12/facebook-click-wrap-terms-use-data-use-cookie-policy.jpg" alt="Facebook Example of Click-wrap" width="349" height="115" class="alignnone size-full wp-image-373" srcset="https://termsfeed.com/blog/wp-content/uploads/2014/12/facebook-click-wrap-terms-use-data-use-cookie-policy.jpg 349w, https://termsfeed.com/blog/wp-content/uploads/2014/12/facebook-click-wrap-terms-use-data-use-cookie-policy-300x98.jpg 300w" sizes="(max-width: 349px) 100vw, 349px" /></p>
<p><a href="https://www.engineyard.com">Engine Yard</a> uses the clickwrap agreement with the <strong>I agree</strong> check box:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/12/engineyard-i-agree-terms-service.jpg" alt="EngineYard - I Agree To Terms of Service" width="395" height="125" class="alignnone size-full wp-image-374" srcset="https://termsfeed.com/blog/wp-content/uploads/2014/12/engineyard-i-agree-terms-service.jpg 395w, https://termsfeed.com/blog/wp-content/uploads/2014/12/engineyard-i-agree-terms-service-300x94.jpg 300w" sizes="(max-width: 395px) 100vw, 395px" /></p>
<h2><span id="Examples_of_Terms_and_Conditions">Examples of Terms and Conditions</span></h2>
<p class="bg-warning">Use the <a href="https://termsfeed.com/terms-conditions/generator/">Terms and Conditions Generator</a> to create the Terms &#038; Conditions agreement.</p>
<p class="bg-info"><a href="#Download_Terms_and_Conditions_Template">Download the Terms and Conditions template by clicking here</a>. It&#8217;s free.</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/terms-conditions-template-termsfeed.jpg" alt="The Terms &amp; Conditions Agreement and Template Basics" width="564" height="1409" class="alignnone size-full wp-image-4729" /></p>
<p><strong>The Guardian</strong></p>
<p>Here&#8217;s how <a href="https://www.theguardian.com/help/terms-of-service">The Guardian</a> is placing the link to its Terms and Conditions webpage at the bottom of its webpages:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/guardian-footer-link-terms-conditions.jpeg" alt="Guardian footer: Link to Terms and Conditions" width="1000" height="173" class="alignnone size-full wp-image-3536" /></p>
<p>The legal page is simple and follows the design of The Guardian&#8217;s website. But the agreement is lengthy and it has multiple clauses that are useful for The Guardian:</p>
<ul>
<li>Registration</li>
<li>Termination of registration</li>
<li>Use of material appearing on the Guardian Site</li>
<li>Disclaimer of liability</li>
<li>Third party advertising on the Guardian Site</li>
<li>User content</li>
<li>Apps</li>
<li>Data protection</li>
<li>Changes to these terms and conditions of use</li>
<li>Governing law &#038; jurisdiction (except for US users)</li>
<li>Indemnification</li>
<li>No waiver</li>
</ul>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/guardian-terms-conditions-screenshot.jpeg" alt="Screenshot of The Guardian Terms and Conditions" width="838" height="593" class="alignnone size-full wp-image-3537" /></p>
<p><strong>KAYAK</strong></p>
<p>The link to the Terms &amp; Conditions of <a href="https://www.kayak.com/terms-of-use">KAYAK</a> is also placed in the footer:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/kayak-footer-link-terms-conditions.jpeg" alt="KAYAK footer: Link to Terms Conditions" width="1000" height="217" class="alignnone size-full wp-image-3538" /></p>
<p>The first paragraph of KAYAK&#8217;s agreement is very clear for users:</p>
<blockquote><p>Please read these terms and conditions of use carefully before accessing, using or obtaining any materials, information, products or services. By accessing, the KAYAK website, mobile or tablet application, or any other feature or other KAYAK platform (collectively &#8220;Our Website&#8221;) you agree to be bound by these terms and conditions (&#8220;Terms&#8221;) and our Privacy Policy.</p></blockquote>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/kayak-terms-conditions-screenshot.jpeg" alt="Screenshot of KAYAK Terms Conditions page" width="1000" height="579" class="alignnone size-full wp-image-3539" /></p>
<p><strong>Instagram</strong></p>
<p>The Terms of <a href="https://help.instagram.com/478745558852511">Instagram</a> are placed in the footer of Instagram&#8217;s website:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/instagram-website-footer.jpg" alt="Instagram footer" width="993" height="52" class="alignnone size-full wp-image-3540" /></p>
<p>But Instagram is a mobile app. Here&#8217;s how Instagram places the links to its Terms and Privacy when users create a new account:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2016/05/instagram-mobile-app-sign-up-screen.jpg" alt="Instagram account creation dialog on website with options" width="380" height="610" class="alignnone size-full wp-image-2158" /></p>
<p><strong>Booking.com</strong></p>
<p>Booking.com follows a similar approach. First, it links to its Terms and Conditions <a href="http://www.booking.com/content/terms.html">page</a> from all webpages of the website:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/booking-com-footer-link-terms-conditions.jpeg" alt="Booking.com footer: Link to Terms Conditions" width="1000" height="218" class="alignnone size-full wp-image-3542" /></p>
<p>This allows the agreement to be available and accessible for desktop users:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/booking-com-terms-conditions-screenshot.jpeg" alt="Screenshot of Booking.com Terms and Conditions page" width="835" height="580" class="alignnone size-full wp-image-3543" /></p>
<p>But the same link is also available from Booking.com&#8217;s iOS app:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2015/04/booking-com-ios-app-information-screen.jpg" alt="Screenshot of Booking iOS App: Information Screen" width="450" height="773" class="alignnone size-full wp-image-694" srcset="https://termsfeed.com/blog/wp-content/uploads/2015/04/booking-com-ios-app-information-screen.jpg 450w, https://termsfeed.com/blog/wp-content/uploads/2015/04/booking-com-ios-app-information-screen-291x500.jpg 291w, https://termsfeed.com/blog/wp-content/uploads/2015/04/booking-com-ios-app-information-screen-437x750.jpg 437w" sizes="(max-width: 450px) 100vw, 450px" /></p>
<p><strong>Spotify</strong></p>
<p>Below is an example of the <a href="https://www.spotify.com/us/legal/end-user-agreement/">Spotify</a> Terms and Conditions Table of Contents. Note how the sections deal with topics such as &#8220;<em>Rights we grant you</em>&#8220;, &#8220;<em>User guidelines</em>&#8220;, &#8220;<em>Choice of law, mandatory arbitration and venue</em>&#8221; and &#8220;<em>Term and termination</em>&#8220;:</p>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2016/09/spotify-terms-conditions-use-table-contents.jpeg" alt="Table of contents from Spotify Terms and Conditions" width="693" height="722" class="alignnone size-full wp-image-1344" /></p>
<p>Perhaps the most important section of this legal document is the section that addresses <strong>how a user should use (or not use) your website and app.</strong></p>
<p>In the Terms and Conditions of Spotify above, the &#8220;<em>User Guidelines</em>&#8221; section highlights a number of restricted user actions, including forbidding a user from:</p>
<ul>
<li>Using the Spotify Service to import or copy and local files you do not have the legal right to import or copy in this way</li>
<li>Circumventing any territorial restrictions applied by Spotify or its licensors</li>
<li>Selling a user account or playlist, or otherwise accepting compensation, financial or otherwise, to influence the name of an account or playlist or the content included on an account or playlist</li>
</ul>
<h2><span id="Download_Terms_and_Conditions_Template">Download Terms and Conditions Template</span></h2>
<p class="bg-warning">Use the <a href="https://termsfeed.com/terms-conditions/generator/">Terms and Conditions Generator</a> to create the Terms &#038; Conditions agreement.</p>
<p class="bg-info"><a href="https://media.termsfeed.com/pdf/terms-and-conditions-template.pdf">Download the Terms &#038; Conditions Template as a PDF file</a> or <a href="https://media.termsfeed.com/docx/terms-and-conditions-template.docx">download the Terms &#038; Conditions Template as a DOCX file</a>. It&#8217;s free.</p>
<p class="bg-info">You can also <a href="https://docs.google.com/document/d/1GPy-UEZdkJW4TCBlvmyRPUeyWuOctnTbE04MCGo2mHI/edit?usp=sharing">download this Terms &#038; Conditions Template as a Google Document</a>.</p>
<p>This free <strong>Generic Terms and Conditions Template</strong> is available for download and includes these sections:</p>
<ul>
<li>Introduction</li>
<li>Termination</li>
<li>Links To Other Websites</li>
<li>Governing Law</li>
<li>Changes</li>
<li>Contact</li>
</ul>
<p><img src="https://termsfeed.com/blog/wp-content/uploads/2014/08/example-of-terms-and-conditions.jpg" alt="Example of Terms and Conditions - Screenshot" width="610" height="735" class="alignnone size-full wp-image-514" srcset="https://termsfeed.com/blog/wp-content/uploads/2014/08/example-of-terms-and-conditions.jpg 610w, https://termsfeed.com/blog/wp-content/uploads/2014/08/example-of-terms-and-conditions-415x500.jpg 415w" sizes="(max-width: 610px) 100vw, 610px" /></p>
                        </div>

                        <div class="post-details">
                                                        <div class="article-data">
                                <p>
                                    <span class="post-date">
                                        Apr 18, 2017                                        <meta itemprop="datePublished" content="2014-08-29T05:03:18+00:00" />
                                        <meta itemprop="dateModified" content="2017-04-18T15:29:26+00:00" />
                                    </span>
                                                                    </p>
                            </div>
                            <div class="disclaimer">
                                <p>This article is not a substitute for professional legal advice. This article does not create an attorney-client relationship, nor is it a solicitation to offer legal advice.</p>
                            </div>
                        </div>
                    </div>

                    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <meta itemprop="url" content="https://d2urp0h3iwq4oq.cloudfront.net/images/logo_for_google_webmaster_tools_structured_data_publisher.jpg" />
                            <meta itemprop="width" content="197" />
                            <meta itemprop="height" content="60" />
                        </div>
                        <meta itemprop="name" content="TermsFeed" />
                    </div>
                </div>
                <div class="col-md-3">

<div class="blog-sidebar">
    <div class="start-here" id="start-here">
        <p class="start-here-title text-center"><strong>Start here</strong></p>
        <p class="text-center">This is our current list of Generators:</p>
        <ul class="start-here-list list-unstyled">
            <li><a href="/privacy-policy/generator/?ref=blog-sidebar-start-here" class="btn btn-primary btn-block">Privacy Policy Generator</a></li>
            <li><a href="/terms-conditions/generator/?ref=blog-sidebar-start-here" class="btn btn-primary btn-block">Terms &amp; Conditions Generator</a></li>
            <li><a href="/return-refund-policy/generator/?ref=blog-sidebar-start-here" class="btn btn-primary btn-block">Return &amp; Refund Policy Generator</a></li>
            <li><a href="/cookies-policy/generator/?ref=blog-sidebar-start-here" class="btn btn-primary btn-block">Cookies Policy Generator</a></li>
            <li><a href="/eula/generator/?ref=blog-sidebar-start-here" class="btn btn-primary btn-block">EULA Generator</a></li>
            <li><a href="/disclaimer/generator/?ref=blog-sidebar-start-here" class="btn btn-primary btn-block">Disclaimer Generator</a></li>
        </ul>
    </div>

    <div class="more-from-blog" id="more-from-blog">
        <p class="more-from-blog-title">More legal articles from TermsFeed</p>
        <ol class="more-from-blog-list list-unstyled">
                <li><a href="https://termsfeed.com/blog/saas-terms-use-privacy-policy/">Terms of Use &#038; Privacy Policy for SaaS</a></li>
                <li><a href="https://termsfeed.com/blog/terms-conditions-mobile-apps/">Terms &amp; Conditions for mobile apps</a></li>
                <li><a href="https://termsfeed.com/blog/legal-pages-facebook-app/">Legal pages for Facebook apps</a></li>
                <li><a href="https://termsfeed.com/blog/terms-conditions-ecommerce-stores/">Terms and Conditions for Ecommerce Stores</a></li>
                <li><a href="https://termsfeed.com/blog/add-i-agree-terms-checkbox/">Add &#8220;I agree to terms&#8221; checkbox</a></li>
                </ol>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>

            </div>

        </div>
    </div>

    <div id="footer" class="footer">
        <div class="container">

            <div class="download">
                <p class="section-title">Download free templates</p>
                <div class="row download-list download-list-1">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-privacy-policy-template/#Download_Privacy_Policy_Template"><span class="name">Privacy Policy</span> Template</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-terms-and-conditions-template/#Download_Terms_and_Conditions_Template"><span class="name">Terms &amp; Conditions</span> Template</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-return-policy-ecommerce-stores/#Download_ReturnRefund_Policy_Template"><span class="name">Return and Refund</span> Template</a></p>
                    </div>
                </div>
                <div class="row download-list download-list-2">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-eula-template/#Download_EULA_Template"><span class="name">End-User License (EULA)</span> Template</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-terms-of-service-template/#Download_Terms_of_Service_Template"><span class="name">Terms of Service</span> Template</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-terms-of-use-template/#Download_Terms_of_Use_Template"><span class="name">Terms of Use</span> Template</a></p>
                    </div>
                </div>
                <div class="row download-list download-list-3">
                    <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12">
                        <p class="link"><a href="/blog/sample-cookies-policy-template/#Download_Cookies_Policy_Template"><span class="name">Cookies Policy</span> Template</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p class="link"><a href="/blog/sample-disclaimer-template/#Download_Disclaimer_Template"><span class="name">Disclaimer</span> Template</a></p>
                    </div>
                </div>
            </div>

            <div class="social-copyright">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-social">
                        <ul class="social-list list-inline list-unstyled">
                            <li><a href="https://twitter.com/TermsFeed"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li><a href="https://www.facebook.com/termsfeed"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="https://plus.google.com/+TermsFeed"><i class="fa fa-google"></i>Google+</a></li>
                            <li><a href="https://www.pinterest.com/termsfeed"><i class="fa fa-pinterest"></i>Pinterest</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-copyright">
                        <p class="copyright">TermsFeed &copy; 2017</p>
                    </div>
                </div>
            </div>

            <div class="disclaimer-legal">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-disclaimer">
                        <p>Disclaimer: Legal information is not legal advice, <a href="/legal/disclaimer">read the disclaimer</a>.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-legal">
                        <p><a href="/legal/privacy-policy">Privacy Policy</a> &mdash; <a href="/legal/terms-of-use">Terms of Use</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
