// Nav Bar
.navbar-bellboy {
  // Blue Top rectangle - fixed height
  height: 58px;
  background-color: #213640;
  color: white;
  // Use flex to center the title
  display: flex;
  justify-content: center;
  align-items: center;
  // Define it as position relative so as to fix the burguer menu
  position: relative;
  .bellboy-burger-menu {
    // Fix Burger
    position: absolute;
    right: 20px;
    top: 18px;
  }
}

// Fix Nav Bar (varies height depending on the accordion) -> Think of it as a DIV
.navbar-bellboy-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  a {
    color: #eeeeee;
  }
}

.bellboy-dropdown-menu {
  background-color: #213640;
  color: white;
  border-top: 1px solid rgba(255,255,255,0.8);
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    &:last-child{
      padding-bottom: 15px;
    }
  }
}
