.day-btn-wrapper {
  // background-color: yellow;
}

.confirm-btn {
  background-color: orange;
}

.booked-date {
  background-color: white;
  color: rgb(200, 200, 200);
}

.bookable-date {
  background-color: white;
  color: rgb(30, 30, 30);
}

.bookable-date:hover {
  background-color: #5FBA7D;
}

.booked-date:hover {
  background-color: red;
}

.calendar-lw-time {
  padding: 4px 4px 4px 8px;
}
