.panel-confirmation {
  background-color:  #A0C814;
  text-align: center;
  padding: 15px 10px;
  // margin-bottom: 40px;

  p {
    margin: 0;
  }
}

.panel-confirmation-wrapper {
  margin-top: 0px;
  background-color: rgb(200,200,200);
  margin-top: 70px;
}
