.panel-confirmation {
  background-color:  #FFD259;
  text-align: center;
  padding: 15px 10px;
  // margin-bottom: 40px;

  p {
    margin: 0;
  }
}

.panel-confirmation-wrapper {
  margin-top: 0px;
  background-color: #FFD259;
  margin-top: 70px;
}
