.services-container {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: rgba(62, 60, 66, 0.1);
}

.service-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  padding: 0px;
  border: 1px solid rgba(255, 217, 115, 0.1);
  border-radius: 3px;
}

.service-element {
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-title {
  color: rgb(58, 72, 91);
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}
