.services-container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.service-image {
  width: 100%;
  height: 300px;
  img {
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
  }
}

.service-element {
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.service-title {
  color: rgb(58, 72, 91);
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}
