#tab-bar {
  background-color: #213640 ;
  color: white;
  display: "flex";
  // justify-content: "space-around";
  font-size: 20px;
}

#circulo{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD259;
  width: 87px;
  height: 87px;
  margin-bottom: 6px;

}
