
.navbar-default {
  background-color: #213640 ;

}

#menu-open{
  color: #FFD259;
  font-size: 22px;

}

#navbar{
   color: #FFD259;
}

/* The css under here is for the menu icon animation on click */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;

}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;

}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

