<div class="mapmarkerinfo">
  <%= link_to stay_hotel_location_path(stay, hotel, location) do %>
  <div>
  <% if location.photo? %>
  <div id="box-wrap">
    <div id ="mapbox-img" class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path location.photo.path if location.photo? %>');">
    </div>
    </div>
  <% end %>
    <div class="box-content">
      <p class="karla-bold" style="font-size: 13px;"><%= location.name %>&nbsp; &nbsp; &nbsp; <span id="route-me" class="btn-medium-map btn-medium-yellow"> ROUTE ME </span></p>
      <p class="karla-light" style="font-size: 12px;"><%= location.address %></p>
    </div>
  </div>
  <% end %>
</div>
