<div class="mapmarkerinfo">
  <%= link_to stay_hotel_location_path(stay, hotel, location) do %>
  <div>
  <% if location.photo? %>
    <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path location.photo.path if location.photo? %>'); width: 200px; height: 100px">
    </div>
  <% end %>
    <div>
      <p class="karla-bold">name: <%= location.name %></p>
      <p class="karla-light">address: <%= location.address %></p>
    </div>
  </div>
  <% end %>
</div>
