<h1>local tips for a given stay, in a given hotel</h1>

<% @locations.each do |location| %>
  <%= link_to stay_hotel_location_path(@stay, @hotel, location) do  %>
    <p><%= location.name %></p>
  <% end %>
<% end %>
